<section class="bucketlist-section box-shadow-min bg-white z45" id="bucketlist" data-ng-controller="BucketlistController">
  <div class="expand-btn" data-ng-click="collapse()"><i class="fa fa-angle-right fa-lg"></i></div>
  <div role="tabpanel" class="h100">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#saved-listings" aria-controls="saved-listings" role="tab" data-toggle="tab">Saved listings</a>
      </li>
      <li role="presentation">
        <a href="#saved-logs" aria-controls="saved-logs" role="tab" data-toggle="tab" data-ng-click="savedLogsTab()">Saved Logs</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane h100 active" id="saved-listings">
        <div class="bucketlistScrll">
          <div class="panel panel-default" data-ng-repeat="item in savedListings">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>{{item.title}}</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      {{item.type}}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      {{item.rate}} {{item.duration}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>{{item.address}}</p>
                      <p>Phone: {{item.phone}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-left">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share" data-ng-click="share()">Share</button>
                          <button type="button" class="btn btn-primary btn-view" data-ng-click="view()">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane h100" id="saved-logs">
        <div class="bucketlistScrll">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 h100 rm-offset">
            <div class="logs-tab">
              <ul class="log-view-listing">
                <li data-ng-repeat="item in savedLogs">
                  <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                  <span>{{item.date}}</span>
                  </div>
                  <div class="rht-algn">
                    <h4>{{item.title}}
                      <span class="toltp-file">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                          <i class="fa fa-file-text"></i>
                        </a>
                      </span>
                    </h4>
                    <small>{{item.user}}</small>
                    <p>
                      {{item.description}}
                    </p>
                    <div class="arr-tip"><i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>