<section class="bucketlist-section box-shadow-min bg-white z45" id="bucketlist" ng-controller="BucketlistController">
  <div class="expand-btn" ng-click="collapse()"><i class="fa fa-angle-right fa-lg"></i></div>
  <h2>Bucketlist</h2>
  <div class="bucketlistScrll">
    <div class="panel panel-default" ng-repeat="item in list" ng-init="initBucketlist()">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
            <i class="fa fa-bed fa-lg"></i>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5>{{item.title}}</h5>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {{item.type}}
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                {{item.rate}} {{item.duration}}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Address: </p>
                <p>{{item.address}}</p>
                <p>Phone: {{item.phone}}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-left">
                  <div class="offset-T-5">
                    <button type="button" class="btn btn-default btn-share" ng-click="share()">Share</button>
                    <button type="button" class="btn btn-primary btn-view" ng-click="view()">View</button>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>