<section class="discussion h100 box-shadow-min bg-grey z10" id="discussion-list" ng-controller="DiscussionListController">
  <div class="fixed-ch">
    <div class="img-wrp">
      <img src="assets/images/kashmir.jpg" alt="" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-T1">
        <div class="pull-right offset-L1 brgr-bttn" ng-click="shareGroups()"><i class="fa fa-navicon text-white"></i></div>
      </div>
      <div class="inform-text">
        <i class="fa fa-info-circle"></i>
        <span>Visit to Nainital Mussoorie and Dehradun</span>
      </div>
    </div>
    <div class="page-header bg-white trp-hd">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
          <a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a>
        </li>
        <li role="presentation">
          <a href="#listings" aria-controls="listings" role="tab" data-toggle="tab">Listings</a>
        </li>
        <li role="presentation">
          <a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a>
        </li>
        <li role="presentation">
          <a href="#logs" aria-controls="logs" role="tab" data-toggle="tab">Logs</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-body">
    <div class="tab-content h100">
      <div role="tabpanel" class="tab-pane h100 active" id="discussion">
        <div class="discussion-Tab">
          <div class="panel panel-default left">
            <div class="panel-heading">
              <div class="pull-left"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt=""></div>
              <div class="pull-left">Madhusoodanan Nair</div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-left">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="pull-right date-time">
                        <small class="text-muted text-right">
                          12:56PM, Thursday, 17 September 2015
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default right">
            <div class="panel-heading">
              <div class="pull-right"><img src="assets/images/avatar/avatar2.jpg" class="img-circle" alt=""></div>
              <div class="pull-right">Vyloppilli Sreedhara Menon</div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-right">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="pull-left date-time">
                        <small class="text-muted text-right">
                          12:56PM, Thursday, 17 September 2015
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default left">
            <div class="panel-heading">
              <div class="pull-left"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt=""></div>
              <div class="pull-left">Madhusoodanan Nair</div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quam quas consequatur veniam vel aut ullam. Obcaecati quidem, cum magnam culpa ad mollitia, atque similique minima incidunt quod dolore a!</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="pull-right date-time">
                    <small class="text-muted text-right">
                      12:56PM, Thursday, 17 September 2015
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-chat">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="fa fa-paper-plane"></i></button>
              <button class="btn btn-secondary" type="button"><i class="fa fa-paperclip"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane h100" id="listings">

        <div class="listings-tab">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-right">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-right">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-right">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rm-r-offset">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 offset-L-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h5>Movenpick Hotel &amp; Spa</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      5-star hotel
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                      Rs.6686 per night
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <p>Address: </p>
                      <p>115, Gokula Extension, HMT Road, Near BEL Circle, Bengaluru, Karnataka 560054</p>
                      <p>Phone: 080 4300 1000</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="pull-right">
                        <div class="offset-T-5">
                          <button type="button" class="btn btn-default btn-share">Share</button>
                          <button type="button" class="btn btn-primary btn-view">View</button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane h100" id="gallery">
        <div class="gallery-tab">
          <div class="photo-grid">
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/sea.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/agra.JPG" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/china.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/hampi.jpg" alt="">
              </div>
            </div>
            <div class="grid-item two-three">
              <div class="img-hldr">
                <img src="assets/images/feed/houseboat.JPG" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/kathakali.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/korea.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/ladakh.JPG" alt="">
              </div>
            </div>
            <div class="grid-item two-two">
              <div class="img-hldr">
                <img src="assets/images/feed/lighthouse.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/ny.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/paris.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/hill.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/taj.jpg" alt="">
              </div>
            </div>
            <div class="grid-item one-three">
              <div class="img-hldr">
                <img src="assets/images/feed/kashmir.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane h100" id="logs">
        <div class="new-log">

          <div class="alert notification fade in" role="alert">
            <p>Select the listings you want to be included in this log. Click each listing to add text, audio, video or image logs to it. You can add a date and rearrange the order of the listings by dragging.</p>
            <a href="#" class="pull-right close-notification" aria-label="Close">Close</a>
            <div class="clearfix"></div>
          </div>

          <div class="control-bar">
            <div class="row">
              <div class="col-md-4">
                <a href="#" class="highlight" id="publish-log"><i class="fa fa-check-square-o"></i> Publish</a>
              </div>
              <div class="col-md-4 text-center">
                <a href="#" id="save-log-draft"><i class="fa fa-save"></i> Save as draft</a>
              </div>
              <div class="col-md-4 text-right">
                <a href="#" id="cancel-log"><i class="fa fa-close"></i> Cancel</a>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <ul class="list-unstyled" id="sortable-list">
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Trecking &amp; River Rafting</span>
              </label>
              <div class="log-details">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group attach-list pull-right" role="group">
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-image fa-lg"></i>
                        <input type="file" data-type="image">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <input type="file" data-type="video">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-microphone fa-lg"></i>
                        <input type="file" data-type="audio">
                      </a>
                    </div>
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success attach-icon">
                        <i class="fa fa-paperclip fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cumque ratione, ipsum dolorum? Ut officiis fugiat vero mollitia doloribus! Nobis vitae a ex possimus, sint dolorum molestiae officiis illum ipsa.
                    </textarea>
                    <div class="clearfix"></div>
                    <div class="upload-preview">
                      <div class="img-preview"><img src="assets/images/kashmir.jpg">
                        <button type="button" class="close" aria-label="Close">&times;</button>
                      </div>
                      <div class="img-preview">
                        <video class="media-xs" src="assets/video/other.mp4"></video>
                        <button type="button" class="close" aria-label="Close">&times;</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="log-preview" data-content="1">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15" readonly="readonly">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success edit-log-icon">
                        <i class="fa fa-edit fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="log-slider" class="carousel slide" data-ride="carousel" data-interval="false">
                      <div class="carousel-inner">
                        <div class="item active">
                          <video class="media-lg" src="assets/video/other.mp4" width="320" height="180"></video>
                        </div>
                        <div class="item">
                          <img src="assets/images/rht-img.jpg" alt="">
                        </div>
                        <div class="item">
                          <video class="media-lg" src="assets/video/other.mp4" width="320" height="180"></video>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#log-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                      <a class="right carousel-control" href="#log-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    </div>

                    <div class="clearfix"></div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cumque ratione, ipsum dolorum? Ut officiis fugiat vero mollitia doloribus! Nobis vitae a ex possimus, sint dolorum molestiae officiis illum ipsa.</p>

                  </div>
                </div>
              </div>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Boats, Sailing and Charters</span>
              </label>
              <div class="log-details">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group attach-list pull-right" role="group">
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-image fa-lg"></i>
                        <input type="file"  data-type="image">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <input type="file"  data-type="video">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-microphone fa-lg"></i>
                        <input type="file"  data-type="audio">
                      </a>
                    </div>
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success attach-icon">
                        <i class="fa fa-paperclip fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cumque ratione, ipsum dolorum? Ut officiis fugiat vero mollitia doloribus! Nobis vitae a ex possimus, sint dolorum molestiae officiis illum ipsa.
                    </textarea>
                    <div class="clearfix"></div>
                    <div class="upload-preview"></div>
                  </div>
                </div>
              </div>
              <div class="log-preview" data-content="0">
                No Content
              </div>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Fishing</span>
              </label>
              <div class="log-details">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group attach-list pull-right" role="group">
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-image fa-lg"></i>
                        <input type="file"  data-type="image">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <input type="file"  data-type="video">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-microphone fa-lg"></i>
                        <input type="file"  data-type="audio">
                      </a>
                    </div>
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success attach-icon">
                        <i class="fa fa-paperclip fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Golf, Golf Courses and Golf Cross</span>
              </label>
              <div class="log-details">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group attach-list pull-right" role="group">
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-image fa-lg"></i>
                        <input type="file"  data-type="image">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <input type="file"  data-type="video">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-microphone fa-lg"></i>
                        <input type="file"  data-type="audio">
                      </a>
                    </div>
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success attach-icon">
                        <i class="fa fa-paperclip fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Trecking &amp; River Rafting</span>
              </label>
              <div class="log-details">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control date-picker" value="23/7/15">
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group attach-list pull-right" role="group">
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-image fa-lg"></i>
                        <input type="file" data-type="image">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <input type="file" data-type="video">
                      </a>
                      <a href="#" class="btn btn-success">
                        <i class="fa fa-microphone fa-lg"></i>
                        <input type="file" data-type="audio">
                      </a>
                    </div>
                    <div class="btn-group pull-right" role="group">
                      <a href="#" class="btn btn-success attach-icon">
                        <i class="fa fa-paperclip fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Mountain Biking and Cycling</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Canoeing</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Paragliding</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Cycling and Mountain Biking</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Trecking</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Hiking</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Birdwatching</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">River Cruise</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Boating &amp; Fishing</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Water Sports</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Skiing and Snowboarding</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Tramping, Hiking, Guided Walks</span>
              </label>
            </li>
            <li>
              <input type="checkbox" value="">
              <label>
                <span class="sl-text">Adventure</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="logs-tab">
          <button class="btn addNew" id="add-new-log">Add New Log</button>
          <ul class="log-view-listing">
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div> 
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="pull-left img-cont"><img src="assets/images/avatar/avatar1.jpg" class="img-circle" alt="">
                <span>22/7/14</span>
              </div>
              <div class="rht-algn">
                <h4>River rafting in kodai is awesome
                  <span class="toltp-file">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample"><i class="fa fa-file-image-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Tooltip Sample">
                      <i class="fa fa-file-text"></i>
                    </a>
                  </span>
                </h4>
                <small>Sinu moosa</small>
                <p>
                  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard has been the industry's standard
                </p>
                <div class="arr-tip">
                  <i class="fa fa-angle-down" data-placement="bottom" title="Tooltip Sample" data-toggle="tooltip"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>