<section class="feed h100 box-shadow-min bg-white z50" id="gallery-feed" data-ng-controller="FeedListingController">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 h100 rm-offset">
    <div class="photo-grid">
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/sea.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/agra.JPG" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/china.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/hampi.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item two-three">
        <div class="img-hldr">
          <img src="assets/images/feed/houseboat.JPG" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/kathakali.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/korea.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/ladakh.JPG" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item two-two">
        <div class="img-hldr">
          <img src="assets/images/feed/lighthouse.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/ny.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/paris.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/hill.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/taj.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-item one-three">
        <div class="img-hldr">
          <img src="assets/images/feed/kashmir.jpg" alt="">
          <div class="photo-overlay">
            <a href="#">
              <h2>
                <i class="fa fa-bicycle"></i>
                <span>Trekking and River Rafting</span>
              </h2>
              <footer><small>Andaman &amp; Nicobar Islands</small></footer>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>