.bucketlist-section, .listings-tab {
	color: $text-color;
	padding: 0 0 0 12px;
	h2 {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 23px;
		padding-top: 20px;
    	margin-top: 0px;
	}
	.panel-default {
		margin: 10px 10px 16px 0;
		@include border-radius(0);
		@include box-shadow(none);
		border: none;
		position: relative;
		padding: 1rem;
		border-bottom: solid 1px rgba(0,0,0,0.12);
		&:first-of-type {
			margin-top: 2px;
		}
		&:last-of-type {
			margin-bottom: 6px;
			border-bottom: none;
		}
	}
	.panel-body {
		padding: 0.5rem 0;
		font-weight: bold;
		font-size: 1.2rem;
		.fa {
			color: black;
		}
		h5 {
			font-size: 1.4rem;
			margin: 0 0 0.5rem 0;
			color: $secondary-color;
		}
		p {
			margin: 0;
		}
		.date-time {
			height: 30px;
			@include display-flex;
			@include align-items(flex-end);
		}
	}
	.panel-heading {
		background: transparent;
		border: none;
		padding: 0;
		line-height: 36px;
		font-weight: bold;
		color: $text-color;
		font-size: 1.4rem;
		.img-circle {
			width: 36px;
			height: 36px;
		}
	}
	.bucketlistScrll {
		overflow: auto;
	}
	.mCSB_container {
		padding: 0 4px;
	}
	.mCSB_scrollTools {
		margin: 0;
	}
}

.bucketlist-section {
	position: absolute;
	width: 100%;
	height: 100%;
}