.section-listing {
	position: absolute;
	width: 100%;
	height: 100%;
	.tab-content {
		padding-top: 0;
	}
	font-family: 'Oswald';
	font-weight: 300;
	margin: 0;
	.img-wrp {
		top: 0;
		width: 100%;
		background-size: cover;
		position: relative;

		img {
			width: 100%;
			height: auto;
		}

		.setting-sml {
			float: right;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    z-index: 99999;
    position: relative;

			&.open {
				i {
					opacity: 1;
				}
			}
			.dropdown-menu {
				border: none;
				border-radius: 2px;
				min-width: 80px;
				padding: 1px 0;
				margin-left: 6px;
				right: 0;
    			left: inherit;
				li {
					a {
						font-size: 12px;
						padding: 3px 10px;
					}
				}
			}

			i {
				font-size: 19px !important;
				margin-left: 5px !important;
				margin-top: 7px !important;
				opacity: .7;
				cursor: pointer;
			}
		}

		.rating-check {
			float: right;
			margin-top: 10px;
			margin-right: 10px;
			z-index: 99999;
			clear: both;
			position: relative;
			i {
				cursor: pointer;
				font-size: 16px;

				clear: both;
				display: block;
				color: white;
				&.fa-heart-o {
					&.checked:before {
						content: "\f004";
					}
				}

				&:last-of-type {
					opacity: .4;
					margin-top: 10px;
					&.checked {
						opacity: 1;
					}
				}
			}
		}

		h2 {
			
			span {
				display: inline;
				float: left;
			}
			small {
				clear: left;
				display: inline-block;
				color: white;
				font-weight: 300;
				font-size: 15px;
				width: 100%;
				padding-left: 33px;
			}
			i {
				font-size: 20px;
				margin-right: 5px;
				float: left;
			}
			
			text-transform: uppercase;
			color: white;
			z-index: 11111;
			font-size: 24px;
			font-weight: 300;
			margin: 0;
			padding: 7px 10px;
			position: absolute;
			top: 0;
			width: 100%;
			&:after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 120%;
				width: 100%;
				@include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)));
				z-index: -1;
			}
		}
		.tab-content {
			&:after {
				content: '';
				display: table;
				clear: left;
			}
		}
		
	}
	.listing-icons {
		padding: 20px 10%;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.32);
		clear: left;
		width: 100%;
		height: auto;
		margin-top: -6px;
		&:after {
			content: '';
			display: table;
			clear: left;
		}
		a {
			float: left;
			text-align: center;
			width: 25%;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		span {
			clear: left;
			color: $dark-gray;
			display: block;
			font-size: 14px;
			font-weight: normal;
		}
		i {
			color: $primary-color;
			font-size: 37px;
		}
	}
}

.sml-tags {
	clear: left;
	float: left;
	display: block;
	width: 100%;
	margin-top: 13px;
	position: relative;
	z-index: 0;
	background-color: white;
	overflow: hidden;
	@include transition(all .5s ease);

	ul {
		list-style: none;
		padding: 0 20px;
		margin-bottom: 3px;
		li {
			clear: left;
			margin-bottom: 8px;
			&:after, &:before {
				content: '';
				display: table;
				clear: left;
			}
			&:nth-child(even) {
				padding-left: 30px;
			}
			a {
				margin-right: 19px;
				&:before {
					font-family: 'FontAwesome';
					content: "\f111";
					position: absolute;
					top: 4px;
					font-size: 4px;
					left: 4px;
					color: white;
				}
				position: relative;
				display: inline;
				background-color: $secondary-color;
				padding: 0px 13px 2px 17px;
				color: #FFF;
				font-size: 12px;
				@include border-radius(2px);
				@include border-top-left-radius(6px);
				&:hover, &:focus {
					text-decoration: none;
					background-color: #9E3637;
				}
			}
		}
	}
}

.secndryTabs {
	.nav-tabs {
		&.nav-justified > .active > a {
			&:after {
				background-color: $primary-color;
			}
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom-color: #ddd;
			position: relative;
			&:hover, &:focus {
				color: black;
			}
		}
		li {
			a {
				&:after {
					background-color: white;
					content: '';
					position: relative;
					bottom: 0;
					height: 2px;
					clear: left;
					display: table;
					width: 100%;
					margin-top: 5px;
					margin-bottom: -10px;
				}
				outline: none;
				border-top: none;
				border-left: none;
				border-right: none;
				font-weight: 500;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: black;
				background-color: transparent;
			}
		}
	}	
}


.log-view-listing {
	clear: left;
	list-style: none;
	padding: 0 0 0 20px;
	overflow: auto;
	margin-top: 6px;

	* {
		font-family: 'Merriweather', serif;
	}
	.arr-tip {
		text-align: center;
		color: black;
		margin-top: -10px;
		* {
			font-family: 'Oswald';
			font-weight: 300;
			line-height: 14px;
		}
		i {
			font-family: 'FontAwesome';
		}
	}
	li {
		padding-top: 10px;
		&:first-of-type {
			padding-top: 0;
		}
		clear: left;
		.img-cont {
			margin-right: 10px;
			width: 45px;
			img {
				width: 100%;
				height: auto;
				border: solid 1px $dark-gray1;
			}
			span {
				display: block;
				font-size: 10px;
				font-weight: bold;
				text-align: center;
			}
		}
		h4 {
			color: $secondary-color;
			font-weight: 600;
			font-size: 1.3rem;
			margin: 0;
			padding-top: 10px;
			
		}
		small {
			font-weight: bold !important;
			font-size: 1.1rem;
		}
		p {
			font-style: italic;
			font-weight: bold;
			font-size: 1.02rem;
			margin-top: 3px;
			overflow: hidden;
			text-overflow: ellipsis;
			/* white-space: nowrap;*/ 
			/* height: 30px; 
			height: 51px;*/
			position: relative;
			line-height: 16px;
			&:after {
				content: '...';
				position: relative;
				bottom: 0px;
				right: 0;
				width: 10px;
				height: 13px;
			}    
		}
		.btn {
			font-family: 'Oswald';
		}
		.rht-algn {
			padding-left: 55px;
			padding-right: 10px;
		}
	}
}
// .mCSB_inside > .mCSB_container {
// 	margin-right: 20px !important;
// }

.over-hide {
	-webkit-transition: all .8s ease;                  
	-moz-transition: all .8s ease;                 
	-o-transition: all .8s ease;   
	-ms-transition: all .8s ease;          
	transition: all .8s ease;

	position: relative;
	overflow: hidden;
	right: 0;
	float: right;
	width: 0;
	padding: 0;
	section {
		opacity: 0;
	}
	&.expand {
		width: 100% !important;
		opacity: 1;
		section {
			-webkit-transition: all 1s ease;                  
			-moz-transition: all 1s ease;                 
			-o-transition: all 1s ease;   
			-ms-transition: all 1s ease;          
			transition: all 1s ease;
			opacity: 1;
		}
	}
}

.overlay-tab-hd {
	margin-top: -27px;
	padding: 0 7px;
	position: relative;
	index: 3;
	.nav-tabs {
		border-bottom: none;
	}
	&:after {
		position: absolute;
		content: '';
		width: 100%;
		left: 0;
		bottom: 5px;
		height: 45px;
		@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)));
		z-index: 2;
	}
	ul {
		position: relative;
		z-index: 3;
	}
	li {
		padding-bottom: 1px;
		a {
			outline: none;
			font-size: 17px;
			padding: 2px 15px;
			background-color: transparent;
			border: none;
			color: white;
			text-transform: uppercase;
			border: none !important;
			&:hover, &:focus {
				background-color: transparent;
			}
		}
		&.active {
			background-color: transparent;
			border: none;
			border-bottom: 4px solid #2b6c96;
			a, a:hover, a:focus {
				background-color: transparent;
				color: white;
			}
		}
	}
}
.toltp-file {
	* {
		font-family: 'Oswald';
		font-weight: 300;
		color: white;
		line-height: 14px;
	}
	
	i {
		color: $blue-bright;
		font-family: 'FontAwesome';
	}
	
	float: right;
	font-size: 16px;
}

.after-arrng {
	&:after {
		content: '';
		display: block;
		clear: left;
	}
}

.share-btn {
	/* &.sml {
		height: 26px;
		font-size: 13px;
		line-height: 27px;
		&::after {
			border-top: 26px solid #01aded;
			border-right: 26px solid transparent;
			right: -26px;
		}
		} */
		background-color: $blue-bright;
		height: 30px;
		width: 60px;
		top: 52%;
		z-index: 999999;
		position: absolute;
		color: white;
		margin-left: -2px;
		text-align: left;
		padding-left: 18px;
		line-height: 30px;
		text-transform: uppercase;
		@include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-top: 30px solid $blue-bright;
			border-right: 30px solid transparent;
			position: absolute;
			right: -30px;
		}
		&:hover, &:focus {
			opacity: .9;
			color: white;
			text-decoration: none;
		}
	}


	/*-------------------*/

	.listing-discussion {
		color: $text-color;
		position: absolute;
		width: 100%;
		height: 100%;
	// padding: 0 8px 0 12px;
	h2 {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 23px;
		padding: 9px 0 8px 12px;
		margin-top: 0px;
		line-height: 1em;
		@include box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
	}
	.createNwbttn {
		font-weight: 300;
		font-size: 17px;
		padding: 10px 12px;
		line-height: 18px;
		margin-right: 15px;
	}
	.sec-chat {
		background-color: transparent;
		@include box-shadow(none);
		button {
			&:last-of-type {
				border: none;
			}
		}
	}
	.scrlHeight {
		// padding: 0 8px 0 12px;
	}
	.mCSB_scrollTools {
		margin: 0;
	}
}

.search-overlay {
	position: absolute;
	bottom: 10px;
	.input-group {
		background-color: rgba(99, 143, 168, 0.89);
		margin-left: 2px;
		border-radius: 4px;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
	}
	button, .form-control {
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: white;
	}
	button {
		font-size: 16px;
		&:hover, &:focus {
			color: white;
			opacity: .8;
		}

	}

}
.fixed-ch {
	position: fixed;
	overflow: hidden;
	z-index: 9;
}

.after-arrng {
	z-index: 0;
	background-color: white;
}
.secndryTabs .nav-tabs {
	background-color: white;
}

.secndryTabs {
	z-index: -1;
	background-color: white;
}

.mCSB_scrollTools .mCSB_draggerContainer {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	opacity: 0;
}

section:hover {
	.mCSB_scrollTools .mCSB_draggerContainer {
		opacity: 1;
	}
}